doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/starter-template.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
  body
    .container
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')= h.siteName
          .collapse.navbar-collapse#navbar
            ul.nav.navbar-nav
              li
                a(href="/add") Add New Todo
            ul.nav.navbar-nav.navbar-right
              if user
                li
                   a(href="/tasks") My Tasks
                li
                  a(href="/account")= user.email
                li
                  a(href="/logout") Logout
              else
                li
                  a(href="/login") Login
                li
                  a(href="/register") Register
      block messages
        if locals.flashes
          .inner
            .flash-messages
              - const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  .flash(class=`alert alert-${category}`)
                    p.flash__text!= message
                    button.flash__remove(onClick="this.parentElement.remove()") &times;
      block content