extends layout


block content

  .container
    h1= todo.title
    .row
      .col-lg-12
        .panel.panel-primary
          .panel-heading
            a(href=`/tasks/${todo._id}/edit` role="button").btn.btn-warning Edit Todo
            a(href=`/tasks/${todo.slug}` role="button").btn.btn-success View Todo
            a(href=`/delete/${todo._id}` role="button").btn.btn-danger Delete Todo
          .panel-body Add Activity to Todo!
            form.form(action=`/tasks/add/${todo._id}` method="POST")
              .form-group
                input(type="hidden" name="id" value=`${todo._id}`)
                input(type="hidden" name="slug" value=`${todo.slug}`)
                input(type="text" name="activity").form-control
                button.btn.btn-primary(type="submit") Add Activity
          table.table.table-bordered.table-hover.table-striped
            if todo.todoList
              each todoList in todo.todoList
                tr
                  td.text-danger= todoList
                  td.text-danger(style="text-align: right")
                    form.form(action="/tasks/activity/remove" method="POST")
                      input(type="hidden" name="todo_slug" value=`${todo.slug}`)
                      input(type="hidden" name="todo_id" value=`${todo._id}`)
                      input(type="hidden" name="todo_activity" value=`${todoList}`)
                      button(type="submit").btn.btn-danger.btn-xs delete

